/* GENERAL */

	html{
		margin: 0;
	}

	body{
		margin: 0;
		background-color: #000065;
		font-family: arial;
	}

	@font-face{
		font-family: queen;
		src: url("Polices/queen/QueenInlineGrunge.ttf");
	}

/* HEADER */

	header{
		display: flex;
		flex-direction: column;
		width: 100vw;
		justify-content: center;
		font-family: queen;
	}

	a{
		text-decoration: none;
	}

	#logo{
		font-size: 80px;
		color: #FFFFFF;
		margin: 0;
	}

	nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 12vh;
	}

	ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
		padding: 0;
	}

	li{
		padding: 0 80px;
	}

	li a{
		font-size: 25px;
		color: #FFFFFF;
		text-decoration: none;
	}

	#qeen_1{
		height: 88vh;
	}

/* BODY */


.body{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	padding: 40px 0;
}

#biographie{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #FFFFFF;
	padding: 20px;
	width: 100vw;
	max-width: 1200px;
	
}

/* FOOTER */

footer{
	background-color: #000000;
	color: #FFFFFF;
}