/* GENERAL */

	html{
		margin: 0;
	}

	body{
		margin: 0;
		background-color: #000065;
		font-family: arial;
	}

	.body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	@font-face{
		font-family: queen;
		src: url("Polices/queen/QueenInlineGrunge.ttf");
	}

/* HEADER */

	header{
		display: flex;
		flex-direction: column;
		width: 100vw;
		justify-content: center;
		font-family: queen;
	}

	a{
		text-decoration: none;
	}

	#logo{
		font-size: 80px;
		color: #FFFFFF;
		margin: 0;
	}

	nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 12vh;
	}

	ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
		padding: 0;
	}

	li{
		padding: 0 80px;
	}

	li a{
		font-size: 25px;
		color: #FFFFFF;
		text-decoration: none;
	}

	#qeen_1{
		height: 88vh;
	}

/* FOOTER */

	footer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: #000000;
		color: #FFFFFF;
		padding: 40px;
	}

	footer ul{
		display: flex;
		flex-direction: column;
	}

	footer li a{
		font-size: 20px;
	}

/* ACCUEIL */

	#biographie{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #FFFFFF;
		padding: 20px;
		width: 100vw;
		max-width: 1200px;
	}

/* ACTUALITES */

	.actualite{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #000000;
		width: 70%;
		max-width: 1200px;
	}

	.actualite img{
		width: 100%;
	}

	.actualite_2{
		background-color: #FFFFFF;
		padding: 20px;
	}

/* REALISATION */

.realisation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70vw;
	max-width: 1200px;
	margin: 20px auto;
	background-color: #FFFFFF;
}

.realisation_1{
	width: 300px;
}


.realisation_2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
	padding: 20px;
}
